.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.modal-content {
  background: #ee5343;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: auto;

  max-width: 500px;
}

.modal-header {
  padding: 20px;
  background-color: #c14639;
  border-radius: 5px 5px 0px 0px;


  display: flex;
  justify-content: space-between;
}

.modal-header__close-button {
  background: none;
  border: none;
  color: white;
}

.modal-text {
  margin-top: 30px;
  padding: 0px 30px 0px 30px;
}

.modal-buttons {
  margin: 30px 30px 20px 30px;

  display: flex;
  justify-content: center;
  gap: 20px;
}

/* .modal-buttons__item {
  padding: 10px;
  border: none;
  background-color: #c14639;
} */